<div class="footer">
    <div class="row">
      <div class="col-12 signature">
        &#169; <span class="year">{{year}}</span> - <span>{{applicatioName}}</span>
        <br class="d-block d-sm-none">
        {{version}} <span>[{{environment}}]</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 signature">
        <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>
    </div>
  </div>
