.mat-dialog-container {
  padding-left: 0px !important;
  padding-right:0px !important;
}
.mat-dialog-title {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.mat-dialog-content {
  padding-left: 24px !important;
  padding-right: 24px !important;
  margin: 0 !important;
  .title {
    padding-right: 24px !important;
  }
}
