@import '~@angular/material/theming';
@import '../themes/styles-variables';

@mixin MyPlaces-app-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, foreground);
    .jumbotron {
        background-color: mat-color($primary, darker);
        color: white;
        vertical-align: middle;
        padding: 50px;
        min-height: 200px;
        margin-bottom: 0px !important;
        border-radius: 0%;
        margin-bottom: 10px !important;
        h1 {
            color: $color-blue;
        }
    }
    mat-sidenav-container {
        mat-toolbar {
            button {
                &.active {
                    color: mat-color($accent, default-contrast);
                    background-color: mat-color($accent);
                }
            }
            .sign-in-button {
                color: mat-color($accent);
                border: 1px solid mat-color($accent);
            }
            .link {
                color: mat-color($primary, default-contrast);
            }
        }
        mat-sidenav {
            .mat-list-item {
                &.active {
                    color: mat-color($accent, default-contrast);
                    background-color: mat-color($accent) !important;
                    &:hover {
                        background-color: mat-color($accent, darker) !important;
                    }
                }
            }
        }
        .footer {
            color: mat-color($primary, lighter);
            background-color: mat-color($primary, darker);

            .links,
            .signature {
                a {
                  position: relative !important;
                  color: mat-color($primary, lighter);
                  right: 0px !important;
                    &:hover {
                        color: mat-color($accent);
                    }
                }
            }
        }
    }
}
